div {
  margin: 0 auto;
  text-align: center;
  border: 10px solid red;
  background-color: aqua;
}

h1 {
  color: red;
  background: black;
  font-family: "Open Sans", fantasy;

}

ul {
}

section {
  display:flex;
}
.tabscontainer{
  border: none;
  display: flex;
  justify-content: space-between;
}
.tabs div {
  margin: 0 auto;
  /*width: 500px;*/
  border: 3px solid red;
  background-color: aqua;
}
.tabs li {
  border: 5px solid purple;
  border-radius: 20px;
  text-align: center;
  float: left;
  vertical-align: center;
  font-size: 2em;
  width: 200px;
  margin: 10px;
}
.tabs li:hover{
background-color: pink;
cursor: pointer;
}
article{
  padding: 20px;
  border: none;
  border-top: 2px solid purple;
  margin: 0 auto;
  font-size: 22px;
}

li {

  font-size: 4em;
   font-family: "Lobster", fantasy;
}
.time {
  justify-content: space-between;
}
.date {
  justify-content: space-between;
}
.autocomplete li {
  width: 200px;
  border: 4px solid purple;
  margin: 0 auto;
  font-size: 22px;
  font-family: "Open Sans", fantasy;
  padding: 3px;
}
.autocomplete li:hover {
  cursor: pointer;
  background: pink;
}
.autocomplete button {
  margin: 10px;
  border-radius: 12px;
  background: purple;
  border: 2px solid pink;
  font-size: 1em;
}
#searchBox {
  margin: 0 auto;
  margin-top: 10px;
  width: 180px;
}

.auto-enter {
  opacity: 0.01;
  transform: translateY(500%);
}

.auto-enter.auto-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 700ms ease-in, transform 700ms ease-in;
}

.auto-leave {
  opacity: 1;
  transform: translateX(0);
}

.auto-leave.auto-leave-active {
  opacity: 0.01;
  transform: translateX(500%);
  transition: opacity 700ms ease-in, transform 700ms ease-in;
}
